*,
::after,
::before {
	box-sizing: border-box;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	min-height: 100%;
	min-width: 240px;
	overflow: hidden;
	position: relative;
}
